Binaries/
DerivedDataCache/
Intermediate/
Saved/
ReferenceExtracted/
ReferenceExported/
Content/ReferenceImported/
ThirdParty/PhysX5/
Plugins/UnrealPSKPSA/
Tools/retoc/
Tools/cue4parse/
.vs/
.vscode/
*.VC.db
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
